#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --hostname=router.local --activate

# Root password
rootpw --plaintext password
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=linuxuser --password=password --plaintext
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

# Erratum
reboot
selinux --permissive
%post --nochroot --log=/mnt/sysimage/root/ks-nochroot.log
mkdir -p /mnt/sysimage/srv/states
mkdir -p /mnt/sysimage/etc/salt

cp -rp /run/install/repo/errata/router /mnt/sysimage/srv/states/
cp -rp /run/install/repo/errata/files /mnt/sysimage/srv/states/
cp -rp /run/install/repo/errata/top.sls /mnt/sysimage/srv/states/
cp -rp /run/install/repo/errata/master /mnt/sysimage/etc/salt/
cp -rp /run/install/repo/errata/minion /mnt/sysimage/etc/salt/
%end

%post --log=/root/ks-post.log
yum install https://repo.saltstack.com/yum/redhat/salt-repo-latest-2.el7.noarch.rpm  -y
yum install salt-master -y
yum install salt-minion -y
systemctl enable salt-master salt-minion
systemctl start salt-master salt-minion
systemctl enable sshd
sudo yum update -y
%end
# End Erratum